:root {
    --background-color: #ffffff;

    /* --surface-color: #222222;
	--surface-color-2: #353535;
	--on-surface: #cdcdcd; */

    --primary-color: #999999;
    /* --primary-color: #999999; */
    /* --primary-color-highlighted: #6b3696; */

    font-family: "roboto";
}

a:link {
    color: rgb(50, 105, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(142, 20, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 58, 58);
    text-decoration: underline;
}

.hiddenLink:link {
    color: black;
    text-decoration: none;
}

.hiddenLink:visited {
    color: black;
    text-decoration: none;
}

.hiddenLink:hover {
    color: black;
    text-decoration: none;
}

.border {
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

/* tr {
    padding: 0 1rem;
} */

td {
    border-right: 2px solid var(--primary-color);
    padding: 0.25rem 1rem;
}

td:last-of-type {
    border: none;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
}

#header {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    height: 2rem;

    text-align: center;
    font-size: 22px;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    height: 2rem;

    text-align: center;
}

#body {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 4rem;

    margin: 0 10%;
}

#doi-search-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;

    display: flex;
    align-items: center;
}

#doi-search-field {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px dotted var(--primary-color);
    margin-right: 1rem;
}

#doi-search-button {
    float: right;
}

#home-section {
    position: absolute;
    top: 5rem;
    left: 15%;
    right: 15%;
    bottom: 0;

    font-size: 18px;
    overflow: auto;

    display: flex;
    align-items: center;
}

#msg-section {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;

    display: none;
}

#article-section {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
}

#article-info-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#article-info-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#article-info-author {
    text-align: center;
    white-space: pre-wrap;
}

#article-access {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

#article-stat-section {
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.article-stat-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-expand {
    color: var(--primary-color);
    font-size: 12px;

    border: none;
    background-color: #ffffff00;

    cursor: pointer;
}

#article-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;

    margin-bottom: 1rem;
    margin-right: 1rem;

    background-color: #ffffffff;
}

#article-details-table-container {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;

    margin: 0 1rem 1rem 0.5rem;
    overflow: auto;
}

#article-details-table {
    white-space: pre-wrap;
    text-align: left;
    font-size: 14px;
}

#details-expand {
    position: absolute;
    right: 0;
    bottom: 0;
}

#article-cite {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 50%;

    margin-bottom: 1rem;
    margin-left: 1rem;

    background-color: #ffffffff;
}

#article-cite-types {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    height: 1.5rem;
}

#article-cite-field {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 1rem;

    margin: 0 1rem 1rem 0.5rem;
    overflow: auto;

    text-align: left;
    font-size: 12px;
}

#article-cite-copy {
    position: absolute;
    bottom: 2.5rem;
    right: 1.5rem;
}

#cite-expand {
    position: absolute;
    left: 0;
    bottom: 0;
}

.article-stat-list {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;

    margin: 0 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.article-stat-list-item {
    overflow: hidden;
    font-size: 14px;
    margin: 0.5rem;
}

#article-stat-citation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 0;

    margin-top: 1rem;
    margin-right: 1rem;

    background-color: #ffffffff;
}

#citation-expand {
    position: absolute;
    right: 0;
    top: 0;
}

#article-stat-reference {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;

    margin-top: 1rem;
    margin-left: 1rem;

    background-color: #ffffffff;
}

#reference-expand {
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner 1s linear infinite;
    display: inline-block;
}
