:root {
    --background-color: #ffffff;

    /* --surface-color: #222222;
	--surface-color-2: #353535;
	--on-surface: #cdcdcd; */

    --primary-color: #999999;
    /* --primary-color: #999999; */
    /* --primary-color-highlighted: #6b3696; */

    font-family: "roboto";
}

a:link {
    color: rgb(50, 105, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(142, 20, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 58, 58);
    text-decoration: underline;
}

.hiddenLink:link {
    color: black;
    text-decoration: none;
}

.hiddenLink:visited {
    color: black;
    text-decoration: none;
}

.hiddenLink:hover {
    color: black;
    text-decoration: none;
}

.border {
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
}

#header {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    height: 2rem;

    text-align: center;
    font-size: 20px;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    height: 2rem;

    text-align: center;
}

#body {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 4rem;

    margin: 0 10%;
}

#doi-search-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;

    display: flex;
    align-items: center;
}

#doi-search-field {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px dotted var(--primary-color);
    margin-right: 1rem;
}

#doi-search-button {
    float: right;
}

#msg-section {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
}

#article-section {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
}

#article-info-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#article-info-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#article-info-author {
    text-align: center;
}

#article-access {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

#article-stat-section {
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.article-stat-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#article-abstract {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;

    margin-bottom: 1rem;
    margin-right: 1rem;
}

#article-abstract-field {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;

    margin: 0rem 2rem;
    overflow: auto;

    text-align: left;
}

#article-cite {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 50%;

    margin-bottom: 1rem;
    margin-left: 1rem;
}

#article-cite-copy {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

#article-cite-field {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;

    margin: 0rem 2rem;
    overflow: auto;

    text-align: left;
}

#article-stat-citation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 0;

    margin-top: 1rem;
    margin-right: 1rem;
}

#article-stat-reference {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;

    margin-top: 1rem;
    margin-left: 1rem;
}

.article-stat-list {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;

    margin: 0rem 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.article-stat-list-item {
    overflow: hidden;
    font-size: 14px;
    margin: 0.5rem;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner 1s linear infinite;
    display: inline-block;
}
